@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    user-select: none;
}

:root {
    --bg-primary-col: #1e2535;
    --bg-secondary-col: #04d1fc;
    --text-col: #f7fbfc;
    --text-second-col: #04d1fc;
    --para-col: rgba(236, 223, 223, 0.793);
    --animation-timing: 0.5s;
    /* --font-size-normal: 16px; */
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background-color: var(--bg-primary-col);
    overflow-x: hidden;
    font-size:30px;
}

.container {
    padding: 0 9.375em;
    height: 100%;
    width: 100%;
    margin-top: -3.75em;
}

/* Create Navbar */

header {

    position: sticky;
    z-index: 100;
    width: 100%;
    top: 0;
    padding-inline: 9.375em;
    background-color: var(--bg-primary-col);
}

.body.menuShow {
    .body_heading {

        .navbar {
            .outer_menu {

                .iner_menu {

                    >div {
                        &:nth-child(1) {
                            transform: translateX(2px) translateY(-5px);
                            rotate: 45deg;
                            transform-origin: left;
                            transition: calc(var(--animation-timing)*2);
                        }

                        &:nth-child(2) {
                            transform: rotateY(90deg);
                            transition: calc(var(--animation-timing)*2);
                        }

                        &:nth-child(3) {
                            transform-origin: left;
                            transform: translateX(2px) translateY(4px);
                            rotate: -45deg;
                            transition: calc(var(--animation-timing)*2);
                        }
                    }
                }
            }
        }
    }
}

.body {
    .mobile_navbar {
        display: none;
        width: 100%;
        color: var(--text-col);
        position: fixed;
        top: 3.75em;
        left: 0;
        right: 0;
        z-index: 10;
        max-height: max-content;
        overflow: hidden;
        transform: translateY(-300px);
        background-color: var(--bg-primary-col);
        transition: all var(--animation-timing);

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 0.625em;

            li {
                list-style-type: none;
                width: 100%;
                padding-block: 0.625em;
                text-align: center;
                transition: all var(--animation-timing);

                a {
                    text-decoration: none;
                    font-weight: 400;
                    color: var(--text-col);
                    font-size: 1.5em;
                    padding: 0.625em 1.25em;
                    width: 100%;
                    text-align: center;

                }

                &:hover {
                    transition: all var(--animation-timing);
                    background-color: rgba(0, 0, 0, 0.296);
                }
            }
        }
    }
}

body.body.menuShow {
    .mobile_navbar {
        transform: translateY(0);
        transition: all var(--animation-timing);
        padding-block-end: 0.625em;

    }
}


.navbar {
    height: 3.75em;
    background-color: #fff;
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-primary-col);
    color: var(--text-col);
    line-height: 3.75em;

    .title {
        font-weight: 600;
        font-size: 1.6em;
    }

    .outer_menu {
        height: 100%;
        width: 3.75em;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;

        .iner_menu {
            height: 65%;
            width: 70%;
            border-radius: 0.31em;
            border: 0.1875em solid var(--bg-secondary-col);
            background-color: transparent;
            display: flex;
            flex-direction: column;
            row-gap: 0.31em;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            >div {
                height: 12%;
                width: 80%;
                background-color: var(--bg-secondary-col);
                border-radius: 0.31em;
                transition: calc(var(--animation-timing)*2);

            }
        }
    }

    ul {
        display: flex;
        column-gap: 2.5em;

        li {
            display: inline-block;
            list-style-type: none;
            font-size: 1.2em;
            font-weight: 400;
            letter-spacing: 0.05em;

            a {
                text-decoration: none;
                color: var(--text-col);
                position: relative;
                transition: color 1s;
                height: 100%;
                padding-block: 0.31em;
                font-weight: 500;

                &::before {
                    content: '';
                    height: 0.1875em;
                    width: 0;
                    margin-inline: auto;
                    position: absolute;
                    bottom: -1px;
                    border-radius: 20px;
                    background-color: var(--bg-secondary-col);
                    transition: width 0.5s;
                    left: 50%;
                    transform: translateX(-50%);

                }
            }

            &:hover {
                a {
                    color: var(--text-second-col);

                    &::before {
                        width: 100%;
                        transition: width 0.5s;
                    }

                    transition:color 1s;
                }

            }
        }
    }

}


.home_page {
    color: var(--text-col);
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    padding-top: 3.75em;
    opacity: 0;

    .intro_content {
        width: 50%;
        padding-top: 9em;

        .welcome_notice {
            font-size: 1.6em;
        }

        .name {
            font-size: 3em;
            font-weight: 600;
            letter-spacing: 0.05em;
        }

        .dev_show {
            display: flex;
            column-gap: 0.625em;
            font-size: 1.6em;

            div {
                line-height: 1.6em;

                &:nth-child(2) {
                    color: var(--text-second-col);
                    font-weight: 500;
                    letter-spacing: 0.1em;
                    padding-right: 0.625em;
                    overflow: hidden;
                    position: relative;

                    &::before {
                        content: '';
                        background-color: var(--bg-primary-col);
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        border-left: 0.1em solid var(--bg-secondary-col);
                        animation: nameTyping 5s steps(22) infinite, blinking 0.2s infinite;
                        ;



                    }
                }
            }
        }

        .des {
            margin-top: 1.4em;
        }

        .social_icons {
            margin-top: 0.8em;
            font-size: 2.5em;
            display: flex;
            gap: 0.8em;
            color: var(--text-second-col);
            cursor: pointer;

            .icon {
                &:hover {
                    /* color:#04d1fc; */
                    filter: drop-shadow(0 0 0.625em var(--bg-secondary-col));
                    transition: filter 0.3s;

                }
            }
        }

        .btn {
            background-color: var(--bg-secondary-col);
            padding: 0.625em 1.25em;
            margin-top: 1.6em;
            font-size: 1.1em;
            border: none;
            outline: none;
            border-radius: 1.56em;
            font-weight: 500;
            cursor: pointer;
            color: var(--text-col);
            transition: box-shadow 0.5s;

            &:hover {
                box-shadow: 0 0 0.625em var(--bg-secondary-col), 0 0 1.25em var(--bg-secondary-col);
                transition: box-shadow 0.5s;
            }
        }
    }

    .picture_show {
        width: 50%;

        .out_div {
            height: 25em;
            width: 25em;
            border-radius: 50%;
            margin: 7.5em auto 0 auto;
            position: relative;
        }

        .col_circle {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 0.3em solid white;
            background: conic-gradient(#f10c95, var(--bg-secondary-col), #f10c95, var(--bg-secondary-col), #f10c95);
        }

        .my_picture {
            overflow: hidden;
            height: 92%;
            width: 92%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            background-color: #fff;
            border-radius: 50%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

@keyframes borderRadiusSpread {
    to {
        box-shadow: 0px 0 1.56em var(--bg-secondary-col), 0px 0 3.1em var(--bg-secondary-col), 0px 0 4.68em var(--bg-secondary-col), 0px 0 6.25em var(--bg-secondary-col);

    }
}

@keyframes homeImgShow {
    to {
        transform: translateX(0);
        scale: 1;
        opacity: 1;
    }
}

.home_page.showAnimation .intro_content .welcome_notice,
.home_page.showAnimation .intro_content .name,
.home_page.showAnimation .intro_content .dev_show,
.home_page.showAnimation .intro_content .des,
.home_page.showAnimation .intro_content .social_icons,
.home_page.showAnimation .intro_content .btn {
    opacity: 0;
    filter: blur(10px);
    /* transition: all 0.5s; */
    transform: translateX(100px);
    animation: homePageShow var(--animation-timing) 1 linear forwards;
}

.home_page.showAnimation .intro_content .welcome_notice {
    animation-delay: calc(var(--animation-timing));
}

.home_page.showAnimation .intro_content .name {
    animation-delay: calc(var(--animation-timing)*110/100);
}

.home_page.showAnimation .intro_content .dev_show {
    animation-delay: calc(var(--animation-timing)*120/100);
}

.home_page.showAnimation .intro_content .des {
    animation-delay: calc(var(--animation-timing)*140/100);
}

.home_page.showAnimation .intro_content .social_icons {
    animation-delay: calc(var(--animation-timing)*160/100);
}

.home_page.showAnimation .intro_content .btn {
    animation-delay: calc(var(--animation-timing)*180/100);
}

@keyframes homePageShow {
    to {
        transform: translateX(0);
        opacity: 1;
        filter: blur(0);
    }
}



@keyframes nameTyping {
    50% {
        transform: translateX(98%);
    }

    90% {
        transform: translateX(98%);

    }

    98% {
        transform: translate(0);
    }
}

@keyframes blinking {
    50% {
        border: transparent;
    }
}

.home_page.showAnimation .picture_show .out_div {

    opacity: 0;
    scale: 0;
    transform: rotate(180deg);
    animation: homeImgShow var(--animation-timing) 1 linear forwards, borderRadiusSpread calc(var(--animation-timing)*10) linear 1 forwards;

}

/* About Page  */

.about_page {
    color: var(--text-col);
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    padding-top: 1em;
    opacity: 0;

    .about_content {
        width: 50%;
        padding-top: 8em;
        padding-left: 4em;

        .title {
            font-size: 3em;
            font-weight: 500;
            margin-bottom: 0.5em;

            span {
                color: var(--text-second-col);
            }
        }

        .dev_show {
            font-size: 1.5em;

            span {
                color: var(--text-second-col);
                font-weight: 500;
                letter-spacing: 0.1em;
            }
        }

        .des {
            margin-top: 0.8em;
            font-size: 1em;
            text-indent: 6em;
            color: var(--para-col);
            line-height: 1.5em;
            word-spacing: 0.1em;
        }

        .btn {
            background-color: var(--bg-secondary-col);
            padding: 0.825em 1.4em;
            margin-top:1.3em;
            font-size: 1.1em;
            border: none;
            outline: none;
            border-radius: 1.56em;
            font-weight: 500;
            cursor: pointer;
            color: var(--text-col);
            transition: box-shadow 0.5s;

            &:hover {
                box-shadow: 0 0 0.625em var(--bg-secondary-col), 0 0 1.25em var(--bg-secondary-col);
                transition: box-shadow 0.5s;
            }
        }
    }

    .picture_show {
        width: 50%;
        padding-top: 2.5em;

        .out_div {
            height: 25em;
            width: 25em;
            border-radius: 50%;
            margin: 7.5em auto 0 auto;
            position: relative;

            /* rotate: 90deg; */
            &::before {
                content: '';
                position: absolute;
                border-radius: 50%;
                outline: 1.25em dashed white;
                width: 100%;
                height: 100%;
                background-color: transparent;
                scale: 0;
                animation: rotate-outline calc(var(--animation-timing)*10) 1s linear infinite,
                    rotate_outlineShow 1s linear forwards;
            }
        }

        .col_circle {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: conic-gradient(#f10c95, var(--bg-secondary-col), #f10c95, var(--bg-secondary-col), #f10c95);
        }

        .my_picture {
            overflow: hidden;
            height: 95%;
            width: 95%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            border-radius: 50%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

@keyframes rotate-outline {
    to {
        rotate: 360deg;
    }
}

@keyframes rotate_outlineShow {
    to {
        scale: 1;
    }
}

.about_page.showAnimation .about_content .title,
.about_page.showAnimation .about_content .dev_show,
.about_page.showAnimation .about_content .des,
.about_page.showAnimation .about_content .btn {
    transform: translateX(300px);
    opacity: 0;
    animation: aboutShow var(--animation-timing) 1 linear forwards;
}

.about_page.showAnimation .about_content .title {
    animation-delay: calc(var(--animation-timing));
}

.about_page.showAnimation .about_content .dev_show {
    animation-delay: calc(var(--animation-timing)*120/100);
}

.about_page.showAnimation .about_content .des {
    animation-delay: calc(var(--animation-timing)*140/100);
}

.about_page.showAnimation .about_content .btn {
    animation-delay: calc(var(--animation-timing)*160/100);
}

@keyframes aboutShow {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.about_page.showAnimation .out_div {
    transform: translateX(-300px);
    opacity: 0;
    animation: aboutShow var(--animation-timing) 1 linear forwards,
        borderRadiusSpread calc(var(--animation-timing) *5) 1 linear forwards;

}

/* Service Page */
.services_page {
    color: var(--text-col);
    min-width: 100%;
    min-height: 100vh;
    padding-top: 6.25em;
    opacity: 0;

    .heading {
        font-size: 3em;
        font-weight: 500;
        text-align: center;

        span {
            color: var(--text-second-col);
        }
    }

    .our_services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 28em;
        gap: 2.5em;
        padding-top: 2em;

        >div {
            background-color: #273044;
            border-radius: 1.875em;
            border: 0.25em solid transparent;
            position: relative;
            transition: 0.5s;

            .icon {
                color: var(--text-second-col);
                text-align: center;
                margin-top: 0.6em;
                font-size: 4em;
            }

            .title {
                font-size: 2em;
                font-weight: 500;
                text-align: center;
                margin-bottom: 0.8em;
            }

            .details {
                padding-inline: 1.25em;
                text-align: justify;
                line-height: 1.375em;
                color: var(--para-col);
            }

            /* ///////////////////////////////////// */
            .btn {
                background-color: var(--bg-secondary-col);
                padding: 0.625em 1.25em;
                margin-top: 2.5em;
                font-size: 1.1em;
                border: none;
                outline: none;
                border-radius: 0.93em;
                font-weight: 500;
                cursor: pointer;
                color: var(--text-col);
                transition: box-shadow 0.5s;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                text-shadow: 0 0 0.93em rgba(0, 0, 0, 0.381);

                &:hover {
                    box-shadow: 0 0 0.625em var(--bg-secondary-col), 0 0 1.25em var(--bg-secondary-col);
                    transition: box-shadow 0.5s;
                }
            }

            &:hover {
                border: 0.25em solid var(--bg-secondary-col);
                transition: 0.5s;
                box-shadow: 0 0 0.93em var(--bg-secondary-col), 0 0 1.56em var(--bg-secondary-col);
            }
        }
    }

}

/* Create Service page Animation here   */

.services_page.showAnimation .heading,
.services_page.showAnimation .our_services {
    transform: translateY(300px);
    opacity: 0;
    animation: servicePageShow var(--animation-timing) 1 linear forwards;
}

.services_page.showAnimation .our_services {
    animation-delay: calc(var(--animation-timing)*1);
}

@keyframes servicePageShow {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Portfolio Page  */

.portfolio_page {
    color: var(--text-col);
    min-width: 100%;
    min-height: 100vh;
    padding-top: 6.25em;
    opacity: 0;

    .heading {
        font-size: 3em;
        font-weight: 500;
        text-align: center;

        span {
            color: var(--text-second-col);
        }
    }

    .our_projects {
        display: grid;
        grid-template-columns: repeat(3, minmax(18.75em, 1fr));
        grid-auto-rows: 12.5em;
        padding-top: 3.125em;
        gap: 1.25em;

        >div {
            border-radius: 0.625em;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .outer_layer {
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 0%;
                background: linear-gradient(360deg, transparent 5%, var(--bg-secondary-col) 40% 100%);
                z-index: 5;
                color: black;
                transition: height 1s;

                .title {
                    text-align: center;
                    margin-top: 1.25em;
                    margin-bottom: 0.625em;
                    font-size: 1.5em;
                    font-weight: 700;
                }

                .dec {
                    line-height: 1.375em;
                    text-indent: 1.875em;
                    padding-inline: 1.25em;
                    text-align: justify;
                    font-size: 0.8em;
                }
            }

            &:hover {
                .outer_layer {
                    height: 100%;
                    transition: height 1s;
                }
            }
        }
    }
}

/* Create Portfolio Page animation here  */

/* .portfolio_page.showAnimation .heading, */
.portfolio_page.showAnimation .our_projects>div:nth-child(1),
.portfolio_page.showAnimation .our_projects>div:nth-child(2),
.portfolio_page.showAnimation .our_projects>div:nth-child(3),
.portfolio_page.showAnimation .our_projects>div:nth-child(4),
.portfolio_page.showAnimation .our_projects>div:nth-child(5),
.portfolio_page.showAnimation .our_projects>div:nth-child(6) {
    transform: translateY(300px);
    opacity: 0;
    animation: projectShow var(--animation-timing) 1 linear forwards;
    /* &:nth-child(1){
        animation-delay: calc(var(--animation-timing)*110/100);
    }
    &:nth-child(2){
        animation-delay: calc(var(--animation-timing)*110/100);
    }
    &:nth-child(3){
        animation-delay: calc(var(--animation-timing)*110/100);
    }
    &:nth-child(4){
        animation-delay: calc(var(--animation-timing)*160/100);
    }
    &:nth-child(5){
        animation-delay: calc(var(--animation-timing)*160/100);
    }
    &:nth-child(6){
        animation-delay: calc(var(--animation-timing)*160/100);
    } */

}

.portfolio_page.showAnimation .heading {
    transform: translateY(200px);
    animation: projectShow var(--animation-timing) 1 linear forwards;
}

@keyframes projectShow {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.contact_page {
    color: var(--text-col);
    min-width: 100%;
    min-height: 100vh;
    padding-top: 6.25em;
    opacity: 0;
    position: relative;

    .heading {
        font-size: 3em;
        font-weight: 500;
        text-align: center;

        span {
            color: var(--text-second-col);
        }
    }

    .contact_div {
        width: 100%;
        max-height: 80%;
        display: flex;


        .contact_details {
            width: 50%;
            padding-top: 3.125em;

            .title {
                font-size: 1.5em;
                font-weight: 500;
                margin-bottom: 1.25em;
            }

            .dec {
                font-size: 1em;
                margin-bottom: 2em;
            }

            .contact_email {
                display: flex;
                line-height: 2em;
                column-gap: 0.3em;
                margin-bottom: 0.3em;
                cursor: pointer;

                .icon {
                    font-size: 2em;
                    color: var(--bg-secondary-col);
                }

                span {
                    font-size: 1.2em;
                }
            }

            .contact_phone {
                display: flex;
                line-height: 2em;
                column-gap: 0.5em;

                .icon {
                    color: var(--bg-secondary-col);
                    font-size: 2em;
                }

                span {
                    font-size: 1.2em;
                }
            }

            .social_icons {
                margin-top: 1em;
                font-size: 2.5em;
                display: flex;
                gap: 1em;
                color: var(--text-second-col);
                cursor: pointer;

                .icon {
                    &:hover {
                        /* color:#04d1fc; */
                        filter: drop-shadow(0 0 0.2em var(--bg-secondary-col));
                        transition: filter 0.3s;

                    }
                }
            }
        }

        .contact_form {
            padding-top: 3.1em;
            padding-inline-start: 3.1em;
            width: 50%;
            /* height: 80%; */

            div {
                display: flex;
                gap: 1.25em;
                margin-bottom: 1.25em;

                input {
                    width: 50%;
                    padding-left: 0.625em;
                    border-radius: 0.31em;
                    font-size: 1.1em;
                    padding: 0.93em 1.25em;
                    outline: none;
                    border: none;
                }
            }

            div {
                textarea {
                    height: 10em;
                    width: 100%;
                    padding: 0.625em;
                    font-size: 1.2em;
                    outline: none;
                    border-radius: 0.31em;
                    overflow: auto;
                    resize: none;
                    text-transform: capitalize;
                }
            }

            .btn {
                background-color: var(--bg-secondary-col);
                padding: 0.625em 1.25em;
                width: 100%;
                font-size: 1.1em;
                letter-spacing: 0.1em;
                border: none;
                outline: none;
                border-radius: 0.9375em;
                text-transform: uppercase;
                font-weight: 500;
                cursor: pointer;
                color: var(--text-col);
                transition: box-shadow 0.5s;
                text-shadow: 0 0 0.93em rgba(0, 0, 0, 0.381);

                &:hover {
                    box-shadow: 0 0 0.625em var(--bg-secondary-col), 0 0 1.25em var(--bg-secondary-col);
                    transition: box-shadow 0.5s;
                }
            }
        }
    }


    .footer {
        position: absolute;
        line-height: 3.75em;
        text-align: center;
        bottom: 1.25em;
        z-index: 5;
        width: 100%;
        font-weight: 500;
        letter-spacing: 0.08em;
        font-size: 1.1em;
        color: var(--text-col);
        background-color: var(--bg-primary-col);
        bottom: 0;
    }

    ::placeholder {
        color: var(--bg-secondary-col);
        font-weight: 500;
    }
}

.contact_page.showAnimation .heading,
.contact_page.showAnimation .contact_div .contact_details,
.contact_page.showAnimation .contact_div .contact_form {
    transform: translateY(300px);
    opacity: 0;
    animation: contactPageShow var(--animation-timing) 1 linear forwards;
}

@keyframes contactPageShow {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.active {
    color: var(--text-second-col) !important;
    /* font-weight: 600 !important; */

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #273044;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bg-secondary-col);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--text-col);
    cursor: pointer;
}

/* .home_page.showAnimation,
.about_page.showAnimation,
.services_page.showAnimation,
.portfolio_page.showAnimation,
.contact_page.showAnimation{
    opacity: 1;
} */
.home_page,
.about_page,
.services_page,
.portfolio_page,
.contact_page {
    opacity: 1;
}
@media screen and (max-width:1586px){
    body{
        font-size: 16px;
    }
} 


@media screen and (max-width:1332px) {
    header {
        padding-inline: 50px;
    }

    .container {
        padding-inline: 50px;
    }
}

@media screen and (max-width:1114px) {
    header {
        padding-inline: 50px;
    }

    .container {
        padding-inline: 50px;
        font-size: 15px;
    }

    .home_page {
        .picture_show {
            width: 50%;
            padding-top: 50px;

            .out_div {
                height: 320px;
                width: 320px;
            }
        }
    }

    .about_page .picture_show {
        padding-top: 100px;

        .out_div {
            width: 300px;
            height: 300px;
        }
    }
    .services_page .our_services {
        /* font-size: 16px; */
        column-gap: 15px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 500px;
    }


}

@media screen and (max-width:996px) {
    header {
        .navbar {
            ul {
                column-gap: 20px;
            }
        }
    }

    .home_page {
        flex-direction: column;
        align-items: center;

        .intro_content {
            padding: 50px 0;
            padding-top: 100px;
            width: 100%;
        }
    }

    .home_page {
        .picture_show {
            width: 100%;
            padding: 50px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .out_div {
                height: 300px;
                width: 300px;
                margin: 0;
            }
        }
    }

    .about_page {
        flex-direction: column;
        padding-top: 50px;

        .about_content {
            order: 1;
            width: 100%;
            padding-top: 50px;
            padding-left: 0;

            .title {
                text-align: center;
            }
            .btn_box{
                display: flex;
                justify-content: center;
            }
        }

        .picture_show {
            order: 2;
            width: 100%;
            padding-bottom: 50px;

            .out_div {
                width: 300px;
                height: 300px;
                margin: 0 auto;
            }
        }

    }

    .portfolio_page .our_projects {
        /* font-size: 16px; */
        grid-template-columns: repeat(2, 1fr);
    }

    .services_page .our_services {
        padding-top: 50px;
        font-size: 16px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 450px;
    }

    .contact_page {
        .contact_div {

            flex-direction: column;

            .contact_details {
                width: 100%;
                order: 2;
                margin-bottom: 80px;
            }

            .contact_form {
                order: 1;
                width: 100%;
                padding-inline: 0;
            }
        }
    }
}

@media screen and (max-width:776px) {
    header {
        .navbar {
            ul {
                column-gap: 12px;
            }
        }
    }

    .portfolio_page .our_projects {
        justify-content: center;
        grid-template-columns: repeat(1, minmax(300px, 400px));
    }

    .services_page .our_services {
        justify-content: center;
        grid-template-columns: repeat(1, minmax(250px, 400px));
        /* gap: 10px; */
        grid-auto-rows: 450px;

        >div {
            padding-bottom: 20px;
        }
    }
   
}

@media screen and (max-width:660px) {
    header {
        padding-inline: 50px;
        .navbar {
            ul {
                display: none;
            }

            .outer_menu {
                display: flex;
            }
        }
    }
    .home_page .intro_content{
        padding-top: 70px;
    }

    .body .mobile_navbar {
        display: block;
    }
}
@media  screen and ( max-width:500px) {
    header {
        padding-inline: 20px;
      
    }
    .container{
        padding-inline: 20px;
    }
}
@media  screen and ( max-width:440px) {
  .container{
    font-size: 10px;
  }
  body{
    font-size: 14px;
  }
  .home_page{

      .picture_show {
        padding-block: 20px;
        .out_div {
            width: 200px;
            height: 200px;
            margin: 0 auto;
        }
    }
  }
  .about_page{
    .about_content{

        padding-top: 20px;
    }
      .picture_show {
        padding-top: 70px;
        .out_div {
            width: 200px;
            height: 200px;
            margin: 0 auto;
        }
    }
  }
}